### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
Presentation/~$Terraform.pptx
TestThings/.DS_Store
TestThings/terraform-gitlab/.terraform.lock.hcl
/TestThings/terraform-gitlab/.terraform
.DS_Store
